.default-transition, #main .list_with_title .listing .listing-item a, #main .post .title a, #main .post .info a, #main .post .info .other_posts a, .pager a {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }

body {
  font-family: "Microsoft YaHei", "Microsoft Jhenghei", "Hiragino Sans GB", Verdana, STSong, Simsun, Arial, Helvetica Neue, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  margin: 0 auto;
  background: #f6f6f6;
  color: #333333; }

b, strong {
  color: #222; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #e9302a; }
  a:hover, a:focus {
    color: #e9302a; }

/* LAYOUT CSS */
#layout {
  padding-left: 35%;
  /* "left col (nav + list)" width */
  position: relative;
  background: url("/template/img/bg.jpg") no-repeat fixed; }
  #layout .content_body {
    background: rgba(255, 255, 255, 0.8); }

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 35%;
  margin-left: -35%;
  background: transparent;
  border-right: 1px solid #eee;
  text-align: center;
  overflow: hidden; }
  .sidebar #avatar {
    margin: 4em auto 1em;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #ffffff; }
    .sidebar #avatar:hover {
      box-shadow: #999 0px 0px 10px; }
    .sidebar #avatar img.logo {
      border-radius: 50%; }
  .sidebar .site_name a:hover img {
    box-shadow: rgba(100, 100, 100, 0.15) 0px 0px 30px; }
  .sidebar h1 {
    margin: 0;
    text-align: center;
    text-transform: uppercase; }
    .sidebar h1 a {
      display: block; }
  .sidebar .nav {
    display: inline-block;
    list-style: none;
    margin: .5em 0;
    padding: 0;
    width: 100%;
    overflow: hidden; }
    .sidebar .nav li {
      float: none;
      text-indent: -9999px; }
      .sidebar .nav li a {
        height: 50px;
        border-radius: 5px;
        font-size: 12px;
        font-family: Arial;
        color: #666;
        display: block;
        background: url("/template/img/sprite.png") no-repeat; }
    .sidebar .nav #about a {
      background-position: center -61px; }
      .sidebar .nav #about a:hover, .sidebar .nav #about a.selected {
        background-position: center -361px; }
    .sidebar .nav #archive a {
      background-position: center -111px; }
      .sidebar .nav #archive a:hover, .sidebar .nav #archive a.selected {
        background-position: center -411px; }
    .sidebar .nav #category a {
      background-position: center -162px; }
      .sidebar .nav #category a:hover, .sidebar .nav #category a.selected {
        background-position: center -461px; }
    .sidebar .nav #sub a {
      background-position: center -210px; }
      .sidebar .nav #sub a:hover, .sidebar .nav #sub a.selected {
        background-position: center -510px; }
    .sidebar .nav #search a {
      background-position: center -260px; }
      .sidebar .nav #search a:hover, .sidebar .nav #search a.selected {
        background-position: center -560px; }
    .sidebar .nav #btt a {
      background-position: center -310px; }
      .sidebar .nav #btt a:hover, .sidebar .nav #btt a.selected {
        background-position: center -610px; }
    .sidebar .nav #tags a {
      background-position: center -660px; }
      .sidebar .nav #tags a:hover, .sidebar .nav #tags a.selected {
        background-position: center -708px; }
  .sidebar .search-bar {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: none; }
    .sidebar .search-bar:hover {
      opacity: 1; }
    .sidebar .search-bar input {
      font-size: inherit;
      padding: 1em;
      border: 1px solid #fff;
      opacity: .8; }
    .sidebar .search-bar a {
      padding: 5px; }
      .sidebar .search-bar a:hover {
        text-decoration: none;
        color: #fff; }
    .sidebar .search-bar img {
      vertical-align: middle;
      padding-left: .2em; }

/*

.post_body .search-bar {
display:block;
}
.post_body .search-bar a:hover {
background:none!important;
}

*/
#main {
  padding: 3.5em;
  margin-bottom: 2em;
  min-height: 768px;
  /* for archive and tags*/
  /* for categories*/ }
  #main .list_with_title {
    font-family: 'Microsoft Jhenghei', 'Microsoft Yahei';
    padding: 0;
    margin: 0 auto;
    font-size: 1.5em; }
    #main .list_with_title li {
      list-style-type: none;
      padding: 0; }
    #main .list_with_title .listing_title {
      font-weight: bold;
      line-height: 2.2em;
      font-size: 1.4em;
      text-align: center;
      border-bottom: 1px dotted #ddd; }
    #main .list_with_title .listing {
      margin: 0;
      padding: 0; }
      #main .list_with_title .listing li {
        line-height: 1.6em;
        border-bottom: 1px dotted #ddd;
        position: relative;
        padding: 0;
        text-align: left;
        font-weight: normal;
        *font-size: 16px; }
      #main .list_with_title .listing .listing-item a {
        border-left: 3px solid #e9302a;
        padding: 0.2em 0.5em 0;
        margin: 0.5em 0;
        display: inline-block;
        color: #343f47 !important;
        width: 100%; }
        #main .list_with_title .listing .listing-item a:hover {
          color: white !important;
          background: #e9302a !important;
          text-decoration: none !important; }
    #main .list_with_title .date {
      float: right;
      color: #343f47;
      font-size: .8em;
      line-height: 3.5em;
      margin-bottom: -3.5em; }
  #main .posts, #main .detail-post {
    margin: 0 auto; }
  #main .detail-post .title {
    padding: 0 0.5em; }
  #main .detail-post .info {
    border-bottom: 1px dotted #ddd;
    padding: 0 1.2em 0.8em !important; }
  #main .post {
    line-height: 1.8;
    font-size: 1em;
    border-top: 1px dotted #ddd; }
    #main .post .title {
      font-size: 2em;
      color: #343f47;
      font-family: 'Microsoft Jhenghei';
      border-left: 3px solid #e9302a;
      margin-bottom: .2em; }
      #main .post .title a {
        width: 100%;
        display: block;
        color: #343f47;
        padding: 0 0.5em; }
        #main .post .title a:hover {
          color: #fff;
          background: #e9302a;
          text-decoration: none; }
    #main .post .post_body {
      margin: 1.5em 0;
      font-family: "Microsoft YaHei", "Microsoft Jhenghei", "Hiragino Sans GB", Verdana, STSong, Simsun, Arial, Helvetica Neue, Helvetica, sans-serif; }
      #main .post .post_body h2 {
        line-height: 1.8; }
      #main .post .post_body code {
        font-family: "Microsoft YaHei", "Microsoft Jhenghei", "Hiragino Sans GB", Verdana, STSong, Simsun, Arial, Helvetica Neue, Helvetica, sans-serif; }
    #main .post p {
      margin-bottom: 1em; }
    #main .post h1, #main .post h2 {
      font-weight: normal;
      line-height: 1.25;
      margin: 0.5em 0 0.2em; }
    #main .post .info {
      font-family: "Microsoft YaHei", "Microsoft Jhenghei", "Hiragino Sans GB", Verdana, STSong, Simsun, Arial, Helvetica Neue, Helvetica, sans-serif;
      color: #aaaaaa;
      font-size: 1em;
      position: relative;
      text-align: left;
      margin: .5em 0 .8em;
      line-height: 1.2em;
      padding: 0 1.2em; }
      #main .post .info a {
        font-size: 1em;
        padding: 2px; }
        #main .post .info a:hover {
          color: white;
          text-decoration: none;
          background: #e9302a; }
          #main .post .info a:hover i {
            color: #fff; }
      #main .post .info span {
        margin-right: .1em; }
      #main .post .info .tags, #main .post .info .visitors, #main .post .info .source, #main .post .info .permalink, #main .post .info .ds-thread-count {
        display: inline-block;
        margin: 0 .1em; }
      #main .post .info .read_more {
        margin-left: 10px; }
      #main .post .info .other_posts {
        font-size: 1.2em;
        position: relative;
        padding: .5em 0;
        border-top: 1px dotted #ddd;
        border-bottom: 1px dotted #ddd;
        overflow: auto;
        margin-top: 1em; }
        #main .post .info .other_posts a {
          padding: 2px; }
          #main .post .info .other_posts a:hover {
            color: #fff;
            background: #e9302a; }
        #main .post .info .other_posts .pre {
          float: left;
          padding: 0 5px;
          width: 50%;
          text-align: left;
          border-right: 1px dotted #ddd; }
        #main .post .info .other_posts .next {
          float: right;
          padding: 0 3px;
          width: 50%;
          text-align: right;
          border-left: 1px dotted #ddd; }
  #main #categories {
    list-style-type: none;
    display: inline-block;
    zoom: 1;
    *display: inline;
    clear: both;
    padding: 0;
    margin: 0;
    width: 100%; }
    #main #categories a {
      text-decoration: none; }
    #main #categories li {
      float: left;
      position: relative;
      margin: 2.5%;
      width: 20%; }
      #main #categories li h3 {
        font-size: 1.3em;
        word-wrap: break-word;
        overflow: hidden;
        font-weight: normal; }
      #main #categories li span {
        color: #ddd;
        font-size: 0.9em; }
      #main #categories li a {
        background: #fff;
        border: 1px solid #eee;
        display: block;
        padding: 3em 1em; }
        #main #categories li a:hover {
          border: 1px solid #ddd;
          -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
          #main #categories li a:hover h3 {
            padding-left: 2px; }

#fb_new_comment input {
  font-size: 12px; }

.toc {
  line-height: 1.7;
  border: 1px solid #eee; }
  .toc li ul {
    margin: 0.45em 0; }

.post-images {
  margin: 1em 0; }

.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333; }

@media (min-width: 769px) {
  #switch {
    display: none; } }
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
    margin: 0; }
    .sidebar #avatar {
      margin: 1em 0 1em 1em;
      width: 4em;
      height: 4em;
      float: left; }
    .sidebar h1 {
      margin: .6em 0 .5em .5em;
      float: left; }
    .sidebar .nav {
      display: none; }
      .sidebar .nav li {
        width: 100%;
        float: left; }
      .sidebar .nav #search {
        display: none; }
      .sidebar .nav #btt {
        display: none; }
    .sidebar .search-bar {
      display: none !important; }

  #layout {
    padding: 0;
    background: url("/template/img/bg.jpg") no-repeat -200px -100px fixed; }

  #main {
    padding: 1em; }

  #switch {
    display: block;
    float: right;
    margin: 1.3em 1em 0 1em; }
    #switch:hover {
      cursor: pointer; } }
@media (max-width: 480px) {
  .listing-item .date {
    display: none; }

  #main .post .title {
    font-size: 1.5em; }

  #main .post .info {
    font-size: .8em;
    line-height: 1.5em; }

  #main .post {
    line-height: 1.5;
    font-size: 1.1em; }

  .sidebar #avatar {
    display: none; }

  #main #categories li {
    float: none;
    width: 100%;
    margin: 1em 0; }

  #main #categories li a {
    padding: 1em; } }
.clear {
  clear: both;
  width: 0;
  height: 0; }

/*footer starts*/
#footer {
  margin: 0;
  text-align: center;
  font-size: .8em;
  color: #aaa;
  overflow: hidden;
  padding: 1em 0; }
  #footer a {
    color: #aaa; }
    #footer a:hover {
      color: #e9302a; }

/* paginator */
.pager {
  position: relative;
  padding: .5em 0;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
  line-height: 1.8;
  font-size: 1.2em;
  overflow: auto;
  margin-top: 1em; }
  .pager a {
    color: #e9302a;
    text-decoration: none; }
    .pager a:hover {
      color: #fff;
      background: #e9302a; }
  .pager .next {
    padding: 3px;
    width: 50%;
    text-align: right;
    float: right;
    border-left: 1px dotted #ddd; }
  .pager .pre {
    padding: 3px;
    width: 50%;
    text-align: left;
    float: left;
    border-right: 1px dotted #ddd; }
  .pager .unavailable {
    color: #ddd; }

.p_part img {
  width: 100%; }

.post_body {
  width: 100%;
  margin: 0 auto; }
