/* Code.css 
--------------------------------------------------*/
blockquote {
    border-left: 0.4em solid #DDD;
    color: #777;
    display: block;
    text-align: justify;
    border-left: 4px solid #eeeeee;
    margin: 1em 0;
    padding-left: 1.5em;
}
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #dddddd;
    border-left: 0;
    margin: 1em 0;

}
th, td {
    border-left: 1px solid #dddddd;
    padding: 8px;
    line-height: 1.8;
    vertical-align: middle;
    border-top: 1px solid #dddddd;
}
th {
	text-align:center;
}
.p_part {
    margin: 15px 0;
}
code{
    border: 1px solid #e0e0e0;
    background: #F8F8F8;
    padding: 0 5px;
    margin: 0;
    font-family: consolas,Courier,monospace,serif;
	border-radius: 3px;
	font-size: 90%;
	white-space: pre-wrap;
	word-wrap: break-word;
}
pre{
    border: 1px solid #e0e0e0;
    margin: 0 0 1em;
    padding: 5px 15px;
    font-family: consolas,Courier,monospace,serif;
    line-height: 1.5em;
    display: block;
    overflow: auto;
    background: #F8F8F8;
    letter-spacing: 0;
	border-radius: 3px;
	font-size: 90%;
}

pre p {
    margin: 0;
}

pre br{
    display: none;
}

pre code{
    border:none;
    background: none;
    padding: 0;
    margin: 0;
	font-size: 100%;
}
p {
	
	word-wrap: break-word;
}

.p {
margin-bottom: 1em;
}

/*pygments*/

table.codehilitetable{
    border:none;
    margin: 0;
}


.codehilitetable td{
    border: none;
    padding: 0;

}
.hll { background-color: #ffffcc }
.c { color: #60a0b0; font-style: italic } /* Comment */
/* .err { border: 1px solid #FF0000 } /* Error */
.k { color: #007020; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.cp { color: #007020 } /* Comment.Preproc */
.c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.kp { color: #007020 } /* Keyword.Pseudo */
.kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.kt { color: #902000 } /* Keyword.Type */
.m { color: #40a070 } /* Literal.Number */
.s { color: #4070a0 } /* Literal.String */
.na { color: #4070a0 } /* Name.Attribute */
.nb { color: #007020 } /* Name.Builtin */
.nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.no { color: #60add5 } /* Name.Constant */
.nd { color: #555555; font-weight: bold } /* Name.Decorator */
.ni { color: #d55537; font-weight: bold } /* Name.Entity */
.ne { color: #007020 } /* Name.Exception */
.nf { color: #06287e } /* Name.Function */
.nl { color: #002070; font-weight: bold } /* Name.Label */
.nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.nt { color: #062873; font-weight: bold } /* Name.Tag */
.nv { color: #bb60d5 } /* Name.Variable */
.ow { color: #007020; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #40a070 } /* Literal.Number.Float */
.mh { color: #40a070 } /* Literal.Number.Hex */
.mi { color: #40a070 } /* Literal.Number.Integer */
.mo { color: #40a070 } /* Literal.Number.Oct */
.sb { color: #4070a0 } /* Literal.String.Backtick */
.sc { color: #4070a0 } /* Literal.String.Char */
.sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.s2 { color: #4070a0 } /* Literal.String.Double */
.se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.sh { color: #4070a0 } /* Literal.String.Heredoc */
.si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.sx { color: #c65d09 } /* Literal.String.Other */
.sr { color: #235388 } /* Literal.String.Regex */
.s1 { color: #4070a0 } /* Literal.String.Single */
.ss { color: #517918 } /* Literal.String.Symbol */
.bp { color: #007020 } /* Name.Builtin.Pseudo */
.vc { color: #bb60d5 } /* Name.Variable.Class */
.vg { color: #bb60d5 } /* Name.Variable.Global */
.vi { color: #bb60d5 } /* Name.Variable.Instance */
.il { color: #40a070 } /* Literal.Number.Integer.Long */


/* Disqus */
#disqus_thread {
display:none;
margin-top: 1em;
}

/* Duoshuo.css 
----------------------------------------------------------------
.ds-thread {
display:none;
}
#ds-thread #ds-reset a.ds-like-thread-button {
border: none!important;
box-shadow: none!important;
text-shadow: none!important;
background: #f6f6f6!important;
background-image: none!important;
position: relative!important;
z-index: 10!important;
}
#ds-thread #ds-reset .ds-toolbar {
margin-top: -32px;
padding: 2px 0 10px!important;
}
#ds-reset .ds-avatar img {
box-shadow: none!important;
}
#ds-thread #ds-reset .ds-textarea-wrapper {
border: none!important;
background: #f6f6f6!important;
}
#ds-reset .ds-gradient-bg {
background: #eee!important;
}
#ds-thread #ds-reset .ds-post-options {
border:1px solid #f6f6f6!important;
}
#ds-thread #ds-reset .ds-post-button {
background: #e9302a!important;
border: 1px solid #f6f6f6!important;
text-shadow:none!important;
color:#fff!important;
font-family:inherit!important;
font-weight:normal!important;
}
button:hover.ds-post-button {
color:#666;
}
#ds-thread #ds-reset .ds-powered-by {
display: none!important;
}
#ds-thread #ds-reset .ds-meta {
border-bottom:1px dotted #ddd!important;
}
#ds-reset .ds-rounded, #ds-reset input, #ds-reset button, #ds-reset .ds-rounded-top {
-webkit-border-radius: 0px!important;
border-radius: 0px!important;
}
#ds-thread #ds-reset .ds-replybox {
padding:0!important;
}
#ds-thread #ds-reset .ds-textarea-wrapper textarea, #ds-thread #ds-reset .ds-textarea-wrapper .ds-hidden-text {
font-family:inherit!important;
font-size:1.3em!important;
line-height:1.8em!important;
}
#ds-thread #ds-reset li.ds-tab a.ds-current {
border: none!important;
background-color: #f6f6f6!important;
}
#ds-thread #ds-reset li.ds-tab a {
text-shadow: none!important;
padding: 5px 8px!important;
-webkit-border-radius: 0px!important;
border-radius: 0px!important;;
}
#ds-thread #ds-reset li.ds-post {
border-top:1px dotted #ddd!important;
}
#ds-thread #ds-reset .ds-comments {
border-bottom:1px dotted #ddd!important;
}
#ds-thread #ds-reset .ds-post-self {
padding: 10px 0!important;
border-top:none!important;
}
#ds-reset .ds-avatar img {
box-shadow: 0!important;
-webkit-border-radius: 0!important;
border-radius: 0!important;
}
#ds-thread #ds-reset .ds-comment-body p, #ds-thread #ds-reset .ds-user-name {
font-size:1.2em!important;
line-height:1.8!important;
margin:0!important;
}
#ds-thread #ds-reset .ds-login-buttons .ds-social-links {
width:100%!important;
}
#ds-thread #ds-reset .ds-login-buttons .ds-service-list li {
width: 50px!important;
margin: 0 6px 0 0!important;
}
*/

/* Style.css
-----------------------------------------------------------------*/

.default-transition {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
body {
  font-family: "Microsoft YaHei","Microsoft Jhenghei","Hiragino Sans GB",Verdana,STSong,Simsun,Arial,Helvetica Neue,Helvetica,sans-serif;
  -webkit-text-size-adjust: none;
  background: #f6f6f6;
  color: #333333;
  margin:0 auto;
}
b,
strong {
  color: #222;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #e9302a;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #e9302a;
}
/* LAYOUT CSS */
#layout {
  padding-left: 35%;
  /* "left col (nav + list)" width */
  background:url('/t/img/bg.jpg') no-repeat fixed;
  position: relative;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 35%;
  margin-left: -35%;
  background:transparent;
  border-right: 1px solid #eee;
  text-align: center;
  overflow: hidden;
}
.sidebar #avatar {
  margin: 4em auto 1em;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #ffffff;
}
#avatar:hover {
  box-shadow: #999 0px 0px 10px;
}
.sidebar #avatar img.logo {
  border-radius: 50%;
}
.sidebar h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.sidebar h1 a {
  /*background: url('/t/img/img.png') no-repeat top center;*/
  display:block;
}
.brand-title img {

}
.sidebar .nav {
  display: inline-block;
  list-style: none;
  margin: .5em 0;
  padding: 0;
  width:100%;
  overflow:hidden;
}
.sidebar .nav li {
  float: none;
}
.sidebar .nav li a {
  border-radius: 5px;
  font-size: 12px;
  font-family: Arial;
  color: #666;
  display:block;
}
.sidebar .nav li a:hover,
.sidebar .nav li a.selected {
  text-decoration: none;
  color: #fff;
}
.search-bar {
  width: 100%;
  background:rgba(255,255,255,0.5);
}
.search-bar:hover {
  opacity: 1;
}
.search-bar input {
  font-size: inherit;
  padding: 1em;
  border: 1px solid #fff;
  opacity:.8;
}
.search-bar a {
  padding: 5px;
}
.search-bar a:hover {
  text-decoration: none;
  color: #fff;
}
.search-bar img {
  vertical-align: middle;
  padding-left: .2em;
}
.sidebar .search-bar {
display:none;
}
.post_body .search-bar {
display:block;
}
.post_body .search-bar a:hover {
background:none!important;
}

#main {
  padding: 3.5em;
  min-height:768px;
  /* for archive and tags*/

  /* for categories*/

}
#main .list_with_title {
  font-family:'Microsoft Jhenghei','Microsoft Yahei';
  padding: 0;
  margin: 0 auto;
  font-size: 1.5em;
}
#main .list_with_title li {
  list-style-type: none;
  padding: 0;
}
#main .list_with_title .listing_title {
  font-weight: bold;
  line-height: 2.2em;
  font-size: 1.4em;
  text-align: center;
  border-bottom: 1px dotted #ddd;
}
#main .list_with_title .listing {
  margin: 0;
  padding: 0;
}
#main .list_with_title .listing li {
  line-height: 1.6em;
  border-bottom: 1px dotted #ddd;
  position: relative;
  padding: 0;
  text-align: left;
  font-weight: normal;
  *font-size: 16px;
}
#main .list_with_title .date {
  float: right;
  color: #343f47;
  font-size: .8em;
  line-height: 3.5em;
  margin-bottom:-3.5em;
}
#main .posts,
#main .detail-post {
  margin: 0 auto;
  
}
#main .post {
  line-height: 1.8;
  font-size: 1em;
  border-top: 1px dotted #ddd;
}
#main .post .title {
    font-size: 2em;
}
#main .post p {
  margin-bottom: 1em;
}
#main .post h1,
#main .post h2 {
  font-weight: normal;
  line-height: 1.25;
  margin: .5em 0 .2em
}
#main .post .info {
  font-family: "Microsoft YaHei","Microsoft Jhenghei","Hiragino Sans GB",Verdana,STSong,Simsun,Arial,Helvetica Neue,Helvetica,sans-serif;
  color: #aaaaaa;
  font-size: 1em;
  position: relative;
  text-align: left;
  margin: 0 0 .7em;
  line-height: 1.2em;
  padding: 0 1.2em;
}
#main .post .info a {
  font-size: 1em;
  padding: 2px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
#main .post .info a:hover {
  color: white;
  text-decoration: none;
  background: #e9302a;
}
#main .post .info a:hover i {
  color: #fff;
}
#main .post .info span {
  margin-right: .1em;
}
#main .post .info .tags, #main .post .info .visitors, #main .post .info .source, #main .post .info .permalink, #main .post .info .ds-thread-count {
  display: inline-block;
  margin: 0 .1em;
}
#main .post .info .read_more {
  margin-left: 10px;
}
#main .post .other_posts {
  font-size: 1.2em;
  position: relative;
  padding: .5em 0;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
  overflow:auto;
  margin-top: 1em;
}
#main .post .other_posts .pre {
  float:left;
  padding: 0 5px;
  width:50%;
  text-align:left;
  border-right:1px dotted #ddd;
}
#main .post .other_posts .next {
  float:right;
  padding: 0 3px;
  width:50%;
  text-align:right;
  border-left:1px dotted #ddd;
}
#main #categories {
  list-style-type: none;
  display: inline-block;
  zoom: 1;
  *display: inline;
  clear: both;
  padding: 0;
  margin:0;
  width:100%;
}
#main #categories a {
  text-decoration: none;
}
#main #categories li {
  float: left;
  position: relative;
  margin:2.5%;
  width:20%;
}
#main #categories li h3 {
  font-size: 1.3em;
  word-wrap: break-word;
  overflow: hidden;
  font-weight: normal;
}
#main #categories li span {
  color: #ddd;
  font-size: 0.9em;
}
#main #categories li a {
  background: #fff;
  border: 1px solid #eee;
  display:block;
  padding: 3em 1em;
}
#main #categories li a:hover {
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#main #categories li a:hover h3 {
  padding-left: 2px;
}
hr {
  margin: 2.2em 0;
  border-top: 1px dashed #d0d0d0;
  border-bottom: 1px dashed #f9f9f9;
}
#fb_new_comment input {
  font-size: 12px;
}
.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

@media (max-width: 768px) {
  #btt {
	display:none;
  }
  .sidebar {
    width: 100%;
    position: relative;
    margin: 0;
  }
  .sidebar #avatar {
	margin: 1em 0 1em 1em;
	width: 4em;
	height: 4em;
	float:left;
  }
  .sidebar h1 {
	margin: .6em 0 .5em .5em;
	float:left;
  }
  .sidebar .nav {
    display:none;
  }
  .sidebar .nav li {
    width: 100%;
	float: left;
  }
  .sidebar .nav #search {
    display:none;
  }
  #layout {
    padding: 0;
	background: url('/t/img/bg.jpg') no-repeat -200px -100px fixed;
  }
  #main {
    padding: 1em;
  }
  #switch {
	display:block;
	float: right;
	margin: 1.3em 1em 0 1em;
  }
  #switch:hover {
	cursor:pointer;
  }
  .sidebar .search-bar {
	display: none!important;
  }
}
@media (max-width: 480px) {
  .listing-item .date {
    display:none;
  }
  #main .post .title {
    font-size:1.5em;
  }
  #main .post .info {
    font-size:.8em;
	line-height:1.5em;
  }
  #main .post {
	line-height: 1.5;
	font-size: 1.1em;
  }
  .sidebar #avatar {
	display:none;
  }
  #main #categories li {
	float:none;
	width:100%;
	margin: 1em 0;
  }
  #main #categories li a {
	padding: 1em;
  }
}
.clear {
  clear: both;
  width: 0;
  height: 0;
}
/*footer starts*/
#footer {
  margin: 0;
  text-align: center;
  font-size: .8em;
  color: #aaa;
  overflow: hidden;
  padding: 1em 0;
}
#footer a {
  color: #aaa;
}
#footer a:hover {
  color: #e9302a;
}

/* paginator */
.pager {
  position: relative;
  padding: .5em 0;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
  line-height: 1.8;
  font-size: 1.2em;
  overflow:auto;
  margin-top: 1em;
}
.pager a {
  color: #e9302a;
}
.pager a:hover {
  color: #fff;
  background: #e9302a;
}
.pager .next {
  padding: 3px;
  width:50%;
  text-align:right;
  float:right;
  border-left:1px dotted #ddd;
}
.pager .pre {
  padding: 3px;
  width:50%;
  text-align:left;
  float:left;
  border-right:1px dotted #ddd;
}
.eof {
text-align:center;
font-family:'Times new roman',serif;
color:#eee;
font-size:2em;
margin: .5em;
text-indent:-9999px;
background:url('/t/img/eof.png') no-repeat center;
}
.p_part img {
width: 100%;
}
.post_body {
width: 100%;
margin: 0 auto;
}
.post_body a, .other_posts a {
  padding: 2px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.post_body a:hover, .other_posts a:hover {
  color: #fff;
  background: #e9302a;
  /*
  margin: 3px;*/
}
h2.title a, .listing-item a, .other_posts a, .pager a, #add-comment {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.detail-post .info {
  border-bottom: 1px dotted #ddd;
  padding: 0 1.2em .7em!important;
}
.unavailable {
color:#ddd;
}
.title {
color:#343f47;
font-family:'Microsoft Jhenghei';
border-left: 3px solid #e9302a;
margin-bottom: .2em;
}
.detail-post .title {
padding: 0 0.5em;
}
.title a {
width: 100%;
display: block;
color:#343f47;
padding: 0 0.5em;
}
.title a:hover {
color: #fff;
background: #e9302a;
text-decoration: none;
}
.listing-item a {
border-left: 3px solid #e9302a;
padding: 0.2em 0.5em 0;
margin: 0.5em 0;
display: inline-block;
color: #343f47!important;
width: 100%;
}
.listing-item a:hover {
color: #fff!important;
background: #e9302a!important;
text-decoration:none!important;
}
#add-comment:hover {
cursor: pointer;
background: #e9302a;
color: #fff;
}
#add-comment {
margin-top: 1em;
padding: .5em 0;
text-align: center;
color: #e9302a;
border: 1px solid #e9302a;
}
.comment-open {
background: #e9302a!important;
color: #fff!important;
}
#___plusone_0 {
vertical-align: middle!important;
}
.page-post .post_body {
max-width:100%!important;
}

@media (min-width: 769px) {
	#switch {
	display:none;
	}
}

.button a {
display:block;
width:100%;
color:#e9302a;
border:1px solid #e9302a;
padding: .5em;
text-align:center;
}
.button a:hover {
color:#fff;
background:#e9302a;
}

/* Nav
-------------------------------------------------------------------*/
.nav li {
text-indent:-9999px;
height: 50px;
}
.nav li a {
height: 50px;
}
#about a {
background:url('/t/img/img.png') no-repeat center -61px;
}
#about a:hover, .about_current {
background:url('/t/img/img.png') no-repeat center -361px!important;
}
#archive a {
background:url('/t/img/img.png') no-repeat center -111px;
}
#archive a:hover, .archive_current {
background:url('/t/img/img.png') no-repeat center -411px!important;
}
#category a {
background:url('/t/img/img.png') no-repeat center -162px;
}
#category a:hover, .cate_current {
background:url('/t/img/img.png') no-repeat center -461px!important;
}
#sub a {
background:url('/t/img/img.png') no-repeat center -210px;
}
#sub a:hover, .sub_current {
background:url('/t/img/img.png') no-repeat center -510px!important;
}
#search {
background:url('/t/img/img.png') no-repeat center -260px;
}
#search:hover, .search_current {
cursor:pointer;
background:url('/t/img/img.png') no-repeat center -560px!important;
}
#btt a {
background:url('/t/img/img.png') no-repeat center -310px;
}
#btt a:hover {
background:url('/t/img/img.png') no-repeat center -610px;
}
#tags a {
background:url('/t/img/img.png') no-repeat center -660px;
}
#tags a:hover, .tags_current {
background:url('/t/img/img.png') no-repeat center -708px!important;
}

/* Pure.css revise
-------------------------------------------------------------*/

h3 {
font-size: 1.5em!important;
margin: 1em 0 0.5em!important;
border-bottom: 1px solid #eee!important;
}
.pure-u-1 {
background: rgba(255,255,255,0.8);
}
b, strong {
color:inherit!important;
}
hr {
margin: 1em 0!important;
border-top: 1px dotted #ddd!important;
border-bottom: 0px dashed #fff!important;
}