{% extends 'base.html' %}
{% block title %}订阅 | {{ site.title }}{% endblock %}

{% block nav_sub %}
    class="sub_current"
{% endblock %}

{% block content %}


<div class="page-post detail-post">
    <div class="post">
        <h2 class="title">订阅</h2>
		
		<div class="info">
		</div>
		
        <div class="post_body">
			
			<p>请在此处使用 HTML 添加信息。</p>
            
        </div>
		
		<div class="pager">
			<a class="pre" href="/archive">归档</a>
			<span class="next unavailable">已是最后一页</span>
		</div>

    </div>
	
</div>

{% include 'include/paginator.html' %}

{% endblock %}