{% extends 'base.html' %}
{% block title %}标签 | {{ site.title }}{% endblock %}

{% block nav_tags %}
    class="tags_current"
{% endblock %}

{% block content %}

    {% if tags is defined %}
        
    <ul class="list_with_title">
        {% for tag_name, tag_count in site.tags %}
            <li class="listing_title">
                <a href="/tags/{{ tag_name }}">{{ tag_name }}</a> ({{ tag_count }})
            </li>
            
        {% endfor %}
    </ul>
    {% endif %}
	
	<div class="pager">
			<a class="pre" href="/category">分类</a>
			<a class="next" href="/archive">归档</a>
	</div>

{% endblock %}
